.admin {
    a {
        text-decoration: none;
        color: black;
    }
}

.add {
    margin-top: 5rem;

    .btn {
        border: none;
        background: #00A9FF;
        margin-right: 1rem;
    }

    .addCountry,
    .addCity,
    .addAirport,
    .addFly {
        margin-top: 5rem;
    }

    .addCity,
    .addAirport,
    .addFly {
        .d-flex {
            align-items: center;
            gap: 25px;
        }
    }


}