.inputs {

    .cities {
        margin-top: 1rem;

        .btn {
            margin-right: 15px;
            background: #192655;
            border: none;
        }
    }

    .airports {
        margin-top: 1rem;

        .btn {
            margin-right: 15px;
            border: none;
            background: #3876BF;
        }
    }

    .flies {
        margin-top: 1.5rem;
    }
}