.active {
    background: blue !important;
}

.roots {
    ul {
        display: flex;
        justify-content: start;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }


    li {
        list-style: none;
        margin-right: 5px;
        flex-shrink: 0;
    }

    a {
        text-decoration: none;
        color: #000;
        background: #e8ebed;
        padding: 12px 20px;
        border-radius: 10px;
        display: inline-block;
    }
}   

@media(min-width:642px) {
    .bgImg {
        background-image: url("https://media.istockphoto.com/id/1332501286/photo/aerial-flying-airplane-and-sky-landscape-close-up.jpg?s=612x612&w=0&k=20&c=nVePwMoSkfxzjhjKfbKM4WWyDdewCziaRSjG3vzrJhM=");
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
    }
}