@import '_roots.scss';
@import '_header.scss';
@import '_signin.scss';
@import '_inputs.scss';
@import '_register.scss';
@import '_multistepBuy.scss';
@import '_admin.scss';
@import '_flyRegistration.scss';
@import '_home.scss';






@media(min-width:640px) {
    .bg-dark {
        background-color: #000;
        color: #fff;
        height: 100vh;
    }
}